.fileBlock {
    display: flex;
    align-items: center;

    width: 220px;
    height: 26px;
    // border: 1px solid rgb(120 133 139);

    padding: 1px;
    padding-left: 15px;

    color: white;

    .fileBlockIndicate {
        width: 15px;
        height: 15px;
        color: white;
        margin-right: 6px;
    }

    .fileBlockTitle {
        width: calc(100%);
        padding-left: 1px;
    }
}

.fileBlock:hover {
    background-color: rgba(85, 94, 98, 0.5);
    border: 1px solid rgba(85, 94, 98, 0.5)
}

