.page {
	width: calc(100% - 80px);

	// display: flex;
	// align-items: center;

    padding-left: 5px;

	border: 1px solid #ced4da;
	border-radius: 0.25rem;

	& .block {
		height: 100%;
        background-color: rgba(0, 0, 255, 0.095);
	}
}

[contenteditable] {
	outline: 0px solid transparent;
}

.block {
	width: 100%;
}