.fileBar {
	height: 100vh;
	position: relative;
	background-color: rgb(120 133 139);
	cursor: default;

	.topBlock {
		display: flex;
		justify-content: space-around;

		.titleName {
			display: flex;
			align-items: center;
			font-size: 20px;
			margin: 0;
			margin-top: 5px;
			color: lightgray;

			width: 80px;

			overflow: hidden;
			white-space: nowrap;
		}
	
		.iconBlock {
			margin-top: 5px;
	
			.fileIcon {
				width: 25px;
				margin-left: 5px;
				cursor: pointer;
			}
		}
	}

	.splitLine {
		margin: 5px;
		height: 2px;
		background-color: black;
	}

	.fileBtnStyle {
		cursor: pointer;
		display: flex;
		align-items: center;

		width: 200px;
		height: 30px;
		margin-left: 10px;

		background-color: rgb(120 133 139);
	
		.fileBtnIcon {
			width: 20px;
			height: 20px;
		}

		.fileBtnTitle {
			margin-left: 5px;
			font-size: 16px;
			color: white;
		}
	}
	.fileBtnStyle:hover {
		background-color: rgba(85, 94, 98, 0.5);
	}

	.fileBtn_editName {
		display: flex;
		align-items: center;

		width: 200px;
		height: 30px;
		margin-left: 10px;
		padding: 2px;
		padding-left: 10px;
		
		color: white;
		border: 1px solid white;
		border-radius: 4px;
	}
}
::selection {
	background: transparent;
	color: white;
}
::-moz-selection {
	background: transparent;
	color: white;
}

.sideBar {
	position: relative;

	width: 7px;
	height: 100vh;
	overflow: hidden;

	cursor: e-resize;
	background-color: transparent;

	transition: 0s background-color;

	&:hover {
		background-color: rgb(93, 190, 255) !important;
		transition-delay: 0.5s;
	}
}
