.toolBar {
	// position: fixed;

	width: 90%;
	height: auto;
	min-height: 70px;
	margin: 10px auto;
	background-color: #006d75;
	border-radius: 5px;
	box-shadow: 0 0 8px rgb(140 140 140 / 25%);

	display: flex;
	justify-content: center;
	align-items: center;

	z-index: 5;

	& .iconBar {
		padding: 0 10px;
		display: flex;

		& svg {
			font-size: 24px;
			padding: 5px;
			border-radius: 5px;
			cursor: pointer;

			&:hover {
				background-color: #08979c;
			}
		}
	}
}
