.toolBar {
	position: fixed;
	top: 0;
	right: 0;

	width: calc(100% - 270px);
	height: auto;
	min-height: 80px;
	margin: auto;
	background-color: #f7f2ec;

	display: flex;
	justify-content: space-around;
	align-items: center;

	z-index: 5;

	& .iconBar {
		width: 80px;
		padding-left: 10px;
		display: flex;

		& i {
			font-size: 24px;
			padding: 5px;
			border-radius: 5px;
			cursor: pointer;

			&:hover {
				background-color: #b1b1b1;
			}
		}
	}
}
