.toolBar {
	top: 0;

	width: calc(100% - 64px);
	height: auto;
	min-height: 80px;
	margin: auto;
	padding-left: 3px;
	background-color: #F7F2EC;

	display: flex;
	justify-content: space-between;
	align-items: center;

	& .iconBar {
		width: 80px;
		padding-left: 10px;
		display: flex;

		& i {
			font-size: 24px;
			padding: 5px;
			border-radius: 5px;
			cursor: pointer;

			&:hover {
				background-color: #b1b1b1;
			}
		}
	}
}

