.toolBar {
	top: 0;

	width: 100%;
	height: auto;
	min-height: 80px;

	padding-left: 3px;
	background-color: rgb(190 208 214);

	display: flex;
	justify-content: space-between;
	align-items: center;

	& .iconBar {
		padding-left: 10px;

		& i {
			font-size: 1.5em;
			margin: 0 5px 0 5px;
			background-color: red;
			cursor: pointer;
		}
	}
}
.buttonList {
	width: 100%;
	background-color: rgb(190 208 214);
}
