.toolBar {
	// position: fixed;

	width: 90%;
	height: auto;
	min-height: 60px;
	margin: 15px auto;
	padding: 0 15px;
	background-color: #ffe7ba;
	border-radius: 5px;
	box-shadow: 0 0 8px rgba(140, 140, 140, 0.7);

	display: flex;
	justify-content: center;
	align-items: center;

	z-index: 5;

	& .iconBar {
		padding: 0 10px;
		display: flex;

		& img {
			height: 34px;
			margin-left: 20px;
			border-radius: 5px;
			cursor: pointer;

			&:hover {
				background-color: #ffd591;
			}
		}

		& svg {
			font-size: 24px;
			padding: 5px;
			border-radius: 5px;
			cursor: pointer;

			&:hover {
				background-color: #ffd591;
			}
		}
	}
}
