.textForm {
	width: calc(100% - 80px);
}

.card {
	/* width: 18rem; */

	border: none;
	margin: 1px;
}
.card-body {
	padding: 5px;
}

.sortableList {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.editFrame {
	height: calc(100vh - 80px);
	padding: 20px;
	padding-top: 60px;
	overflow-y: scroll;
}

input:focus::-webkit-input-placeholder {
	color: transparent;
}