#slickDiv {
	margin-top: 80px;
}

.carousel-item {
	transition: all 1s ease-in-out !important;
}

.content {
	width: 80vw;
	height: calc(100vh - 80px);
	background-color: orange;
	color: white;

	margin: auto;
	display: flex;
	align-items: center;
}

.visualblock {
	top: 80px;
	left: 10vw;
	width: 100px;
	height: 150px;

	position: absolute;
	background-color: gray;
	opacity: 0.5;
	z-index: 10;
}

.block {
	width: 100%;
	height: 50px;
	text-align: center;
	display: flex;
	font-size: 20px;
	color: white;
}
.block:hover {
	background-color: rgb(76, 76, 76);
}