#outer {
    position: absolute;
    bottom: 5%;
    width: 100%;

}

#slickDiv {
    position: relative;
    margin: auto;
    width: 80%;
}

.slick {
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
}