.fileBar {
	/* left: 0; */
	/* top: 0; */
	/* display: flex; */

	width: 220px;
	height: 100vh;
	position: relative;
	background-color: rgb(120 133 139);
}

.sideBar {
	top: 0;
	right: 0;
	position: absolute;

	width: 7px;
	height: 100%;

	cursor: e-resize;
	background-color: rgb(247, 49, 49);
}
.sideBar:hover {
	background-color: rgb(49, 168, 247);
}