$background: #00474f;

.editFrame {
	width: 100%;
	height: calc(100vh - 80px);
	padding: 20px;
	padding-top: 60px;
	overflow-y: auto;
	background-color: $background;

	& .fileEmpty {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		user-select: none;
	}

	& .sortableList {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		background-color: $background;

		& .card {
			width: 100%;
			border: none;
			background-color: $background;

			& .cardBody {
				padding: 5px;

				& .textForm {
					width: calc(100% - 80px);
					background-color: $background;

					font-size: 20px;

					padding: 0 0 0 5px;

					// border: 2px solid #002329;
					border: 2px solid transparent;
					outline: none;
					border-radius: 0.25rem;

					word-break: break-all;
					word-wrap: break-word;

					& * {
						color: #d6dce3;
						margin: 0;
					}

					// &:hover {
					// 	box-shadow: 3px 3px 4px #08979c;
					// }
				}

				& .sunEditorDiv {
					width: calc(100% - 80px);
				}
			}
		}
	}
}

.card {
	border: none;
	background-color: $background;
}
.cardBody {
	padding: 5px;
	background-color: $background;
}
.textForm {
	width: calc(100% - 80px);
	background-color: $background !important;

	border: 2px solid #009faa;
	border-radius: 0.25rem;

	color: #d6dce3 !important;
	font-size: 20px !important;

	word-break: break-all !important;
	word-wrap: break-word !important;
}
