.editFrame {
	width: 100%;
	height: calc(100vh - 80px);
	padding: 20px;
	padding-top: 60px;
	overflow-y: auto;

	& .sortableList {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;

		& .card {
			width: 100%;

			border: none;
			margin: 1px;

			& .cardBody {
				padding: 5px;

				& .textForm {
					width: calc(100% - 80px);

					display: flex;
					align-items: center;

					padding-left: 5px;

					border: 1px solid #ced4da;
					// border: none;
					border-radius: 0.25rem;

					word-break: break-all;
					word-wrap: break-word;

					& p {
						margin: 0;
					}
				}
			}
		}
	}
}

.card {
	border: none;
}
.cardBody {
	padding: 5px;
}
.textForm {
	width: calc(100% - 80px);

	display: flex;
	align-items: center;

	padding-left: 5px;

	border: 1px solid #ced4da;
	border-radius: 0.25rem;

	// font-size: 18px;

	word-break: break-all;
	word-wrap: break-word;

	& p {
		width: 100%;
		display: inline-block;
	}
}
