.container {
	display: flex;
	justify-content: center;
	user-select: none;

	& .background {
		width: 90vw;
		height: 600px;
		background-color: black;
		background-size: 100%;
		background-repeat: no-repeat;
		display: flex;
		align-items: center;

		& img {
			width: 100%;
			-webkit-user-drag: none;
		}

		& #canvas {
			z-index: 2;
		}
	}

	& .leftBar {
		width: 80%;
		height: 50px;
		background-color: white;
		position: absolute;
		bottom: 50px;
		border-radius: 25px;
		display: flex;
		justify-content: center;
		align-items: center;

		& .eraser {
			width: 30px;
			height: 30px;
			border-radius: 20px;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-right: 15px;
			cursor: pointer;

			&:hover {
				background-color: #b1b1b1;
			}

			& img {
				width: 20px;
				height: 20px;
			}
		}

		& .centered {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		& .circleBtn {
			width: 30px;
			height: 30px;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-right: 10px;
			border-radius: 50%;
			box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.7);
			color: white;
			font-size: 25px;
			cursor: pointer;
		}
	}
}
