.ant-btn {
	background-color: rgba(0, 0, 0, 0) !important;
	border: none !important;
	margin-top: 3px !important;
}

.ant-tree-treenode {
	color: black !important;
}

.ant-tree-switcher {
	margin-top: -3px !important;
	background-color: rgba(0, 0, 0, 0) !important;
}

.ant-tree-node-content-wrapper {
	outline: none !important;
	border: 1px solid rgba(0, 0, 0, 0);
}
.ant-tree-node-content-wrapper:hover {
	background-color: rgba(85, 94, 98, 0.6) !important;
}

.ant-tree-node-selected {
	color: white !important;
	background-color: rgb(85, 94, 98) !important;
	border: 1px solid blue !important;
}
.ant-tree-node-selected:hover {
	background-color: rgb(85, 94, 98) !important;
}

.naming {
	outline: none !important;
	border: 1px solid yellow !important;
}

.ant-popover-inner-content {
	padding: 0 !important;
}
