.fileBlock {
	background-color: #b5a48d;
    
	& .titleName {
		display: flex;
		align-items: center;
		font-size: 20px;
		margin: 0 auto;
		margin-top: 5px;
		padding-left: 5px;
		color: lightgray;

		width: 95px;

		overflow: hidden;
		white-space: nowrap;
	}
}

.container {
	height: 100vh;
	width: 100%;
	background-color: #b5a48d !important;
}

#divider {
	margin: 0 auto;
	margin-top: 5px;
	margin-bottom: 10px;
}
