button {
	margin: 0 5px;
}
.onRecord {
	width: 20px;
	height: 20px;
	margin: 10px;
    background-color: red;
	border-radius: 50%;
	animation: flash 2s infinite;

	display: inline-block;
}

@keyframes flash {
	from {
		opacity: 1.0;
	}
	50% {
        opacity: 0.0;
    }
    to {
        opacity: 1.0;
    }
}
