.topBar {
    position: absolute;
    width: 100%;
    height: 15%;
    background-color: #BFE1E8;
    display: flex;
}

.logo {
    margin: 20px;
    border: 0px;
    background-color: transparent;
    display: flex;
}

.logo_word {
    position: relative;
    font-size: 40px;
    color: #080c55;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    top: 5px;
    left: 10px;
}

#intro1 {
    margin: 12px;
    border: 0px;
    position: relative;
    top: 35px;
    color: black;
    font-size: medium;
    font-weight: bold;
    background-color: transparent;
}

#intro2 {
    margin: 12px;
    border: 0px;
    position: relative;
    top: 35px;
    color: black;
    font-size: medium;
    font-weight: bold;
    background-color: transparent;
}

#intro3 {
    margin: 12px;
    border: 0px;
    position: relative;
    top: 35px;
    color: black;
    font-size: medium;
    font-weight: bold;
    background-color: transparent;
}

#contactDiv {
    height: 100%;
    width: 45%;
    display: flex;
    justify-content: right;
    align-items: center;

}

#contact {
    height: 35px;
    border: 0px;
    position: absolute;
    right: 210px;
    color: grey;
    background-color: transparent;
    font-size: 15px;
    font-weight: bold;

}

.btnStart {
    display: flex;
    align-items: center;
}

#start {
    position: absolute;
    right: 30px;
    border: 0px;
    border-radius: 10px;
    color: #575ba9;
    background-color: #becad0;
    font-weight: bold;
    font-size: 25px;

}
