.mainPage {
	width: 100%;

    // .editFrame {
    //     margin-left: -7px;
    //     display: flex;
    //     flex-wrap: wrap;
    //     flex: 1;
    //     overflow: hidden;   
    // }

    & .siteLayout {
        & .layoutHeader {
            position: absolute;
            display: flex;
            
            padding: 0;
            background-color: rgba(0, 0, 0, 0);
            z-index: 10;

            & .trigger {
                position:absolute;
                left: 0;

                width: 50px;
                height: 50px;
                
                margin-top: 15px;
                padding: 10px;
                font-size: 18px;
                line-height: 1.2;
    
                cursor: pointer;
    
                transition: color 0.3s;
                border-radius: 0 12px 12px 0;
                border: 2px solid #ffc069;
                
                & :hover {
                    color: #d46b08;
                }
            }
        }

        & .searchIcon {
            position: absolute;
            top: 140px;
            right: 50px;
            width: 50px;
            height: 50px;

            & .searchBtn {
                font-size: 30px;
                background-color: #91caff;
                border: 1px solid transparent;
                border-radius: 50%;
                padding: 10px;
            }
        }

        .imgBar {
            position: absolute;
            right: 20px;
            top: 100px;
            box-shadow: 0 0 8px rgba(140, 140, 140, 0.7);
            background-color: #ffe7ba;
            border-radius: 5px;

            width: 210px;
            height: calc(100vh - 150px);
        }
    }
}


