.mainblock {
    width: 100vw;
    height: 100vh;
}

#slickDiv {
    position: relative;
    margin: auto;
    width: 100vw;
    height: 60vh;
    margin-top: 20vh;
    display: flex;
    align-items: center;
}

.slick {
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
}







.topBar {
    width: 100%;
    height: 80px;
    background-color: #65717e;
    display: flex;

    & .logo {
        display: flex;
        align-items: center;
        text-align: center;

        width: 300px;
        height: 60px;

        border: 0;
        background-color: transparent;
        margin-top: 10px;
        margin-left: 50px;

        & .logo_icon {
            width: 50px;
            margin-right: 10px;
        }

        .logo_word {
            font-size: 35px;
            color: #DEE2E6;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }

    }

    & .introContainer {
        width: 300px;
        height: 60px;
        margin: 10px;

        display: flex;
        align-items: center;

        #intro1 {
            margin: 10px;
            width: 80px;
            font-size: 20px;
            font-weight: bold;
            border: 0px;
            color: #DEE2E6;
            background-color: transparent;
        }

        #intro1_onclick {
            background-color: orange;
            color: orange;
            margin: 10px;
            width: 80px;
            font-size: 20px;
            font-weight: bold;
            border: 0px;
        }

        #intro2 {
            margin: 10px;
            width: 80px;
            font-size: 20px;
            font-weight: bold;
            border: 0px;
            color: #DEE2E6;
            background-color: transparent;
        }

        #intro2_onclick {
            background-color: #11189a;
            color: white;
            margin: 10px;
            width: 80px;
            font-size: 20px;
            font-weight: bold;
            border: 0px;
        }

        #intro3 {
            margin: 10px;
            width: 80px;
            font-size: 20px;
            font-weight: bold;
            border: 0px;
            color: #DEE2E6;
            background-color: transparent;
        }

        #intro3_onclick {
            background-color: #11189a;
            color: white;
            margin: 10px;
            width: 80px;
            font-size: 20px;
            font-weight: bold;
            border: 0px;
        }

    }

    .contactDiv {
        height: 60px;
        align-items: center;
        margin: 10px;
        margin-right: 50px;
        display: flex;
        // justify-content: right;
        position: absolute;
        right: 0;

        & .contact {
            border: 0px;
            color: grey;
            background-color: transparent;
            font-size: 18px;
            font-weight: bold;
            text-align: center;
            margin: 10px;
            margin-right: 20px;
            padding: 5px;
        }

        & .contact:hover {
            color: #DEE2E6;
        }

        #start {
            height: 40px;
            width: 150px;
            border: 0px;
            border-radius: 10px;
            color: black;
            text-indent: 10px;
            letter-spacing: 10px;
            background-color: #a1acb1;
            font-weight: bold;
            // font-size: 25px;
        }

        #start:hover {
            background-color: orangered;
            color: #DEE2E6;
        }

    }

}






.checkEye {
    position: absolute;
    right: 5%;
    bottom: 33.5%;
    transform: translateY(-33.5%);
}

.cursorPointer {
    cursor: pointer;
}









.btn_change_mode,
.btn_change_mode *,
.btn_change_mode :after,
.btn_change_mode :before,
.btn_change_mode:after,
.btn_change_mode:before {
    border: 0 solid;
    box-sizing: border-box;
}

.btn_change_mode {
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: button;
    background-color: #000;
    background-image: none;
    color: #fff;
    cursor: pointer;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
        Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
        Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 100%;
    font-weight: 900;
    line-height: 1.5;
    margin: 0;
    -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
    padding: 0;
    text-transform: uppercase;
}

.btn_change_mode:disabled {
    cursor: default;
}

.btn_change_mode:-moz-focusring {
    outline: auto;
}

.btn_change_mode svg {
    display: block;
    vertical-align: middle;
}

.btn_change_mode [hidden] {
    display: none;
}

.btn_change_mode {
    border-radius: 99rem;
    border-width: 2px;
    overflow: hidden;
    padding: 0.8rem 3rem;
    position: relative;
}

.btn_change_mode span {
    mix-blend-mode: difference;
    position: relative;
    z-index: 1;
}

.btn_change_mode:after,
.btn_change_mode:before {
    background: #fff;
    -webkit-clip-path: polygon(0 0,
            100% 0,
            100% calc(var(--progress, 0%) / 2),
            0 calc(var(--progress, 0%) / 2),
            0 0,
            0 calc(100% - var(--progress, 0%) / 2),
            100% calc(100% - var(--progress, 0%) / 2),
            100% 100%,
            0 100%,
            0 calc(100% - var(--progress, 0%) / 2));
    clip-path: polygon(0 0,
            100% 0,
            100% calc(var(--progress, 0%) / 2),
            0 calc(var(--progress, 0%) / 2),
            0 0,
            0 calc(100% - var(--progress, 0%) / 2),
            100% calc(100% - var(--progress, 0%) / 2),
            100% 100%,
            0 100%,
            0 calc(100% - var(--progress, 0%) / 2));
    content: "";
    inset: 0;
    position: absolute;
    transform: translateX(calc(100% - var(--progress, 0%) / 1.99));
    transition: transform 0.2s ease, -webkit-clip-path 0.2s ease;
    transition: clip-path 0.2s ease, transform 0.2s ease;
    transition: clip-path 0.2s ease, transform 0.2s ease,
        -webkit-clip-path 0.2s ease;
}

.btn_change_mode:after {
    transform: translateX(calc(-100% + var(--progress, 0%) / 1.99));
}

.btn_change_mode:hover {
    --progress: 100%;
}