.mainblock {
	background-color: #ffe7ba;
	width: 100vw;
	height: 100vh;
}

#slickDiv {
	position: relative;
	margin: auto;
	width: 100vw;
	height: 50vh;
	// margin-top: 8vw;
	margin-top: 20vh;
	display: flex;
	align-items: center;

	.carousel-indicators {
		visibility: hidden !important;
	}
}

.slick {
	width: 70%;
	margin: auto;
	display: flex;
	align-items: center;
}

.topBar {
	width: 100%;
	height: 80px;
	background-color: #ffc069;
	display: flex;

	& .logo {
		display: flex;
		align-items: center;
		text-align: center;

		width: 300px;
		height: 60px;

		border: 0;
		background-color: transparent;
		margin: 10px 15px 0 50px;

		& .logo_icon {
			width: 85px;
			height: 85px;
			// filter: drop-shadow(3px 3px 5px rgba(67, 67, 67, 0.7));
		}

		.logo_word {
			font-size: 35px;
			color: #612500;
			font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
			white-space: nowrap;
		}
	}

	& .introContainer {
		width: 300px;
		height: 60px;
		margin: 10px;

		display: flex;
		align-items: center;

		& div {
			// background-color: #ffc069 !important;
		}

		#intro1 {
			margin: 10px;
			width: 80px;
			font-size: 20px;
			font-weight: bold;
			border: 0px;
			color: #612500;
			background-color: transparent;
		}

		#intro2 {
			margin: 10px;
			width: 80px;
			font-size: 20px;
			font-weight: bold;
			border: 0px;
			color: #612500;
			background-color: transparent;
		}

		#intro3 {
			margin: 10px;
			width: 80px;
			font-size: 20px;
			font-weight: bold;
			border: 0px;
			color: #612500;
			background-color: transparent;
		}

		#introDiv {
			color: #612500;
			background-color: #ffc069 !important;
			font-weight: bold;
		}

		.dropdown-menu {
		}
	}

	.contactDiv {
		height: 60px;
		align-items: center;
		margin: 10px;
		margin-right: 50px;
		display: flex;
		// justify-content: right;
		position: absolute;
		right: 0;

		& .contact {
			border: 0px;
			color: #612500;
			background-color: transparent;
			font-size: 18px;
			font-weight: bold;
			text-align: center;
			margin-left: 10px;

			padding: 5px;
		}

		& .contact:hover {
			color: #ad4e00;
		}

		#start {
			height: 40px;
			width: 150px;
			margin-left: 20px;
			border: 0px;
			border-radius: 10px;
			color: #612500;
			text-indent: 10px;
			letter-spacing: 10px;
			background-color: #ffa940;
			font-weight: bold;
			font-size: 18px;
		}

		#start:hover {
			background-color: #fa8c16;
			color: #612500;
		}
	}
}

.cursorPointer {
	cursor: pointer;
}
