.fileBtnStyle {
    cursor: pointer;
    display: flex;
    align-items: center;

    width: 100%;
    height: 26px;

    padding-left: 30px;

    .fileBtnIcon {
        width: 18px;
        height: 18px;
    }

    .fileBtnTitle {
        width: calc(100% - 48px);
        padding-left: 1px;
        margin-left: 5px;
        color: white;
        outline: none;
    }
}
.fileBtnStyle:hover {
    background-color: rgba(85, 94, 98, 0.5);
    border: 1px solid rgba(85, 94, 98, 0.5);
}