.imgBar {
    padding: 5px 5px 5px 5px;
    width: 200px;
    height: calc(100vh);

    & .btnspace {
        position: absolute;
        right: 6px;
        width: 25px;
        height: 25px;

        & .btn {
            margin-top: 3px;
            width: 25px;
            height: 25px;
            font-size: 14px;
        }
    }

    & .btnspace2 {
        position: absolute;
        right: 30px;
        width: 25px;
        height: 25px;

        & .btn {
            margin-top: 3px;
            width: 25px;
            height: 25px;
            font-size: 14px;
        }
    }


    & .inputBar {
        box-sizing: border-box;
        width: 190px;
    }

    & .imgCard {
        margin-top: 5px;
        width: 190px;
        border: 1px solid rgba(255, 255, 255, 0.5);
    }   
}

